.btnShowPassword {
  position: absolute;
  right: 20px;
  top: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.iconEye {
  fill: none;
  stroke: var(--theme);
}
