.btnAuth {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.btnLogIn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  padding: 6px;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}

.btnLogIn:hover {
  border-color: var(--theme);
}

.svgLogIn {
  stroke: var(--theme);
  fill: transparent;
}

.btnReg {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 14px 39px;
  height: 48px;
  background-color: var(--theme);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
  transition: all 0.2s ease;
}

.btnReg:hover,
.btnReg:focus {
  background-color: var(--white);
  color: var(--main);
  border-color: var(--main);
}

.userNameText {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  padding: 6px;
}

.userName {
  color: var(--theme);
}

@media screen and (min-width: 768px) {
  .btnAuth {
    flex-direction: row;
    gap: 6px;
  }

  .btnReg {
    background-color: var(--main);
    color: var(--white);
    transition: all 0.2s ease;
  }

  .btnReg:hover,
  .btnReg:focus {
    background-color: var(--white);
    color: var(--main);
  }

  .btnLogIn {
    color: var(--main);
  }
}

@media screen and (min-width: 1280px) {
  .btnAuth {
    gap: 10px;
  }
}
