.btnPaint {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  fill: var(--theme);
}

@media screen and (min-width: 768px) {
  .btnPaint {
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1280px) {
  .btnPaint {
    left: 64%;
  }
}
