.levelsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.levelsItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.14286;
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 0 12px;
  height: 32px;
  width: 170px;
}

.selectedLevel {
  background-color: var(--theme);
  border: none;
}

@media screen and (min-width: 768px) {
  .levelsList {
    justify-content: start;
  }

  .levelsItem {
    width: auto;
  }
}
