.section {
  max-width: 1440px;
  padding: 24px;
  margin: auto;
  background-color: var(--background);
  min-height: calc(100vh - 48px);
}

@media screen and (min-width: 768px) {
  .section {
    padding: 64px;
    min-height: calc(100vh - 88px);
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 96px 128px;
  }
}
